@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto:wght@100;300&family=Smooch+Sans:wght@100&display=swap');

html,body,p{
    margin: 0;
    padding: 0;
}
section{
    padding: 20px 0;
}
article{
    width: 60%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.vCard>.header , .vCard>.content{
    height: 500px;
}
.vCard>.header{
    background-color:#000;
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
    color: #fff;
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.vCard>.content{
    background-color:#000;
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
    color: #fff;
    display: grid;
    grid-template-rows: 2fr 1fr;
}